.user-card {
  height: 100%;
  background: white;
}
.user-card .user-avatar {
  width: 100%;
}
.user-card .user-avatar img {
  width: 100%;
  height: 100%;
}
.user-card .user-details {
  text-align: center;
  padding: 1em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.user-card .user-details .user-email {
  margin-top: 0.5em;
  color: darkslategrey;
}
/*# sourceMappingURL=UserCard.css.map */