.user-card {
  height: 100%;
  background: white;

  .user-avatar {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .user-details {
    text-align: center;
    padding: 1em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .user-email {
      margin-top: 0.5em;
      color: darkslategrey;
    }
  }
}
