.nav-container {
  background: #834bff;
}
.nav-container .navbar {
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-container .navbar .logo {
  color: white;
  font-size: 1.4em;
  font-weight: 500;
}
.nav-container .navbar ul {
  list-style: none;
}
.nav-container .navbar ul li {
  color: white;
}
/*# sourceMappingURL=Header.css.map */