.nav-container {
  background: #834bff;

  .navbar {
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      color: white;
      font-size: 1.4em;
      font-weight: 500;
    }

    ul {
      list-style: none;

      li {
        color: white;
      }
    }
  }
}
