.user-section-title {
  margin: 1em 0;
}

.user-list-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em;
  row-gap: 1em;
}
@media (max-width: 1024px) {
  .user-list-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .user-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=UsersListWidget.css.map */